<h1>Confirmation</h1>
<p>Your submission below has been saved!<p>
<p>Caption: <%=params[:the_caption]%></p>
<p>URL: <%=params[:the_source]%></p>
<p>Back to <a href = "http://localhost:3000/">homepage</a></p>

