<h1>Confirmation</h1>
<p>You have made the modifications below.<p>
<p>Caption: <%=params[:the_caption]%></p>
<p>URL: <%=params[:the_source]%></p>
<p>Back to <a href = "http://localhost:3000/">homepage</a></p>
